[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=7,<8"
pytest-mock = ">=3,<4"

[packages]
flask = ">=2.3,<3"
gunicorn = ">=21,<27"
marshmallow = ">=3.20,<3.22"
werkzeug = ">=2.3.7,<3"
blinker = ">=1.6.2,<1.8"

[requires]
python_version = "3.8"
